#log-area {
    background-color: #181818;
    color: #8bc34a;
    font-size: small;
}

.info-value {
    font-weight: bold
}

.mono-font {
    font-family: 'Roboto Mono';
}

.dark-mode {
    background-color: #53016D;
    color: #cce1fd;
}

.dark-mode-secondary {
    background-color: #73048C;
    color: #cce1fd;
}

input[type="text"], input[type="number"], textarea {
    background-color: #73048C;
    color: #cce1fd;
}

.green-text {
    color: greenyellow;
}

#toggle-bot {
    width:100%;
    padding: 15%; 
}

.info-label {
    color: #cce1fd;
}


.transparent {
    color: transparent;
}


.navbar {
    overflow: hidden;
    background-color: #73048C;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 9px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: #73048C;
  }
  
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }